<!DOCTYPE html>
<html>
  <head>
    <title>Staking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/nav'%>
    <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= notice %></strong>     
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </button>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= alert %></strong>     
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </button>
    </div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
